:root {
    --white: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mainContent {
    position: fixed;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;

    background-color: var(--white);

    min-width: 100vw;
    min-height: 100vh;

    padding: 20px 30px;
}

.leftcontainer {}

.rightcontainer {}

.header {
    display: block;

    font-size: 80px;
    font-weight: 1000;
}