:root {
  --light-grey: #222222;
  --grey: grey;
  --light-white: whitesmoke;
  --white: white;
  --black: black;
  --light-blue: lightblue;
  --electric-blue: #007bff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  background-color: var(--white);

  border: 1px solid var(--grey);
  border-radius: 3px;

  padding: 5px;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus {
  outline: none;
  border: 1px solid var(--light-blue);
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, .1);
}

.mainContent {
  background-color: var(--light-white);

  width: 100%;
  height: 100%;

  border-radius: 10px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-self: left;

  max-width: fit-content;

  padding: 40px 200px 100px 40px;
}

.formContainer span {
  font-size: 15px;
  font-weight: 300;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.submitBtn {
  width: 100%;
  outline: none;

  background-color: var(--black);
  color: var(--white);
  font-weight: 200;

  padding: 5px 20px;

  border-radius: 3px;
  border: 1px solid var(--black);

  transition-duration: .3s;
}

.submitBtn:hover {
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, .3);
}

.submitBtn:focus {
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, .3);
}