:root {
    --white: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::spelling-error {
    text-decoration: underline red;
    color: grey;
}

.container {
    scale: .8;

    /*width: 793px;
    height: 1122px;*/

    width: 833px;
    height: 1132px;

    padding: 40px;

    background-color: var(--white);

    border-radius: 10px;
}

.editorCanvas {
    height: 1052px;
    max-height: 1052px;
    overflow: hidden;
}

.editorCanvas:focus {
    outline: none;
}